

    <!-- creative banner area start -->
    <div class="creative-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="banner-box-1 banner-inner">
                        <div class="banner-title">FREE SHIPPING</div>
                        <div class="banner-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="banner-box-2 banner-inner bannneer">
                        <div class="banner-title">30 DAYS MONEY BACK</div>
                        <div class="banner-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="banner-box-3 banner-inner">
                        <div class="banner-title">PAYMENT SECURED</div>
                        <div class="banner-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- creative banner area end -->
    
    <!-- main area start -->
    <div class="main-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 nopadding-right">
                    <aside>
                        <div class="usefull-product-slide">
                            <div class="area-title">
                                <h3>Upsell Products</h3>
                            </div>
                            <div class="total-usefull-product carousle-pagi common4 ">
                                <!-- single-product start -->
                                <div class="col-xs-12">
                                    <div class="single-product">
                                        <div class="product-label">
                                        </div>
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" src="img/product/product-5.jpg" class="primary-image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                            <div class="rating">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                            </div>
                                            <div class="price-box">
                                                <span class="new-price">$222.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div class="col-xs-12">
                                    <div class="single-product">
                                        <div class="product-label">
                                        </div>
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" src="img/product/product-5.jpg" class="primary-image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                            <div class="rating">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                            </div>
                                            <div class="price-box">
                                                <span class="new-price">$222.00</span>
                                                <span class="old-rpice"><del>$250.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                                <!-- single-product start -->
                                <div class="col-xs-12">
                                    <div class="single-product">
                                        <div class="product-label">
                                        </div>
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" src="img/product/product-5.jpg" class="primary-image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                            <div class="rating">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                            </div>
                                            <div class="price-box">
                                                <span class="new-price">$222.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product end -->
                            </div>
                        </div>
                    </aside>
                    <!--aside 1 end-->
                    <aside>
                        <div class="tag-area">
                            <div class="area-title">
                                <h3>Popular Tags</h3>
                            </div>
                            <ul class="aside-padd">
                                <li> <a href="#">html5</a></li>
                                <li> <a href="#">css3</a></li>
                                <li> <a href="#">Joomla</a></li>
                                <li> <a href="#">Jquery</a></li>
                                <li> <a href="#">css</a></li>
                                <li> <a href="#">Content</a></li>
                                <li> <a href="#">clothing</a></li>
                                <li> <a href="#">shoes</a></li>
                                <li> <a href="#">gifts</a></li>
                                <li> <a href="#">electronics</a></li>
                            </ul>
                        </div>
                    </aside>
                    <!--aside 2 end-->
                    <aside>
                        <div class="newsletter-area">
                            <div class="area-title">
                                <h3>Newsletter</h3>
                            </div>
                            <div class="aside-padd">
                                <div class="vina-newsletter">
                                    <form method="post" action="#">
                                        <div class="input-box">
                                            <label>Sign Up for Our Newsletter:</label>
                                            <input type="email" placeholder="Email" name="email">
                                        </div>
                                        <div class="input-box">
                                            <input type="submit" class="submit-btn" name="submit" value="Subscribe">
                                        </div>
                                    </form>
                                </div>
                                <div class="web-links">
                                    <ul>
                                        <li><a href="#" class="rss"><i class="fa fa-rss"></i>
                    </a></li>
                                        <li><a href="#" class="ldin"><i class="fa fa-linkedin"></i>
                    </a></li>
                                        <li><a href="#" class="face"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="google"><i class="fa fa-google-plus"></i>
                    </a></li>
                                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i>
                    </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!--aside 3 end-->
                </div>
                <!--col-md-3-->
                <div class="col-md-9 col-sm-9 nopadding-left">
                    <div class="ambit-key">
                        <div class="col-md-12 pt40">
                            <ol class="breadcrumb">
                                <li class="home"><a href="index.html" title="Go to Home Page">Home</a></li>
                                <li class="active">Single-product</li>
                            </ol>
                            <div class="shop-banner mb20 mt20 ">
                                <a href="#"><img src="img/clothing.jpg" alt=""></a>
                            </div>
                        </div>
                        <!-- product-details-start-->
                        <div class="product-single-details">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="imgs-area">
                                    <img id="zoom_03" src="img/product/small/02.jpg" data-zoom-image="img/product/large/02.jpg" alt="">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div id="gallery_01">

                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/small/01.jpg" data-zoom-image="img/product/large/01.jpg">
                                                        <img class="zoom_03" src="img/product/small/01.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/small/02.jpg" data-zoom-image="img/product/large/02.jpg">
                                                        <img class="zoom_03" src="img/product/small/02.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/small/03.jpg" data-zoom-image="img/product/large/03.jpg">
                                                        <img class="zoom_03" src="img/product/small/03.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/small/04.jpg" data-zoom-image="img/product/large/04.jpg">
                                                        <img class="zoom_03" src="img/product/small/04.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/small/03.jpg" data-zoom-image="img/product/large/03.jpg">
                                                        <img class="zoom_03" src="img/product/small/03.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="img/product/small/04.jpg" data-zoom-image="img/product/large/04.jpg">
                                                        <img class="zoom_03" src="img/product/small/04.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="product-details-content">
                                    <h3>Accident</h3>
                                    <div class="hits-rating">
                                        <p>hits:5568 | <span>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star-o"></i></a></span></p>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                                    <div class="price-single">
                                        $300.00
                                        <p>Availability:<span>Unlimited</span></p>
                                    </div>
                                    <div class="add-to-box-view pt25 pb25">
                                        <a class="button cart_button" href="#" title="Add to Cart">
                                            <span>Add to Cart</span>
                                        </a>
                                        <div class="input-content">
                                            <label>Qty:</label>
                                            <input type="number" value="1" name="quantity">
                                        </div>
                                    </div>
                                    <div class="add-to-box pt20 pb20">
                                        <ul>
                                            <li>
                                                <a class="link-wishlist" href="#">Add Your Wishlist</a>
                                            </li>
                                            <li>
                                                <a class="link-compare" href="#">Add Your Review</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="social-share pt25 pb25">
                                        <a href="#"><img src="img/social.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="features-tab product-des-review">
                                <!-- Nav tabs -->
                                <ul class="nav">
                                    <li role="presentation" class="active"><a href="#product-des" data-toggle="tab">Product Descripton</a></li>
                                    <li role="presentation"><a href="#add-review" data-toggle="tab">Add Your Review</a></li>
                                    <li role="presentation"><a href="#product-tag" data-toggle="tab">Product Tags</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="product-des">
                                        <div class="std">
                                            <p><strong>Product Description</strong></p>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur r idiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum d olor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diumy eirmod tempor invidunt et dolore</p>
                                            <p><strong>List Sample</strong></p>
                                            <ul>
                                                <li>Donec metus est.</li>
                                                <li>Consectetur adipiscing.</li>
                                                <li>Dapibus feugiat.</li>
                                                <li>Gravida tortor.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="add-review">
                                        <div class="review-upper">
                                            <div class="review_item">
                                                <div><span class="review_user"><strong>Canada Goose Sale</strong></span>, <span class="review_time">10.10.2015</span></div>
                                                <div class="review_text">
                                                    <p>Best Buy cheap rolex watches, imitation rolex watches, discount watch store, discount watch, replica rolex, rolex replica, fake rolex, fake watches, Rolex Replica, rolex Replica For Sale, calvin klein outlet, calvin klein underwear outlet, calvin klein underwear, calvin klein underwear outlet, calvin klein women underwear, calvin klein underwear for women, calvin klein underwear men, calvin klein underwear for men, calvin klein underwear men, men calvin klein, Christian Louboutin, Canada Goose Parka, Louis Vuitton Online Shop, Michael Kors Outlet Store , Michael Kors Bags On Sale, cheap jerseys, Canada Goose Jacket</p>
                                                    <span> Canada Goose Sale: <a href="#">http://www.gamlielrallyteam.com</a></span>
                                                </div>
                                            </div>
                                            <div class="reviewer-ratting">
                                                <div class="name-date">
                                                    <strong>Yasuo</strong><span>17.11.2025</span>
                                                </div>
                                                <span class="best">Best</span>
                                                <div class="rating">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-lower mt30">
                                            <div class="input-header">
                                                <p>Write a comment for this product!</p>
                                            </div>
                                            <form action="#" method="post">
                                                <div class="input-box">
                                                    <span>Name:</span>
                                                    <input type="text" class="review_user_name" placeholder="Name" name="user_name">
                                                </div>
                                                <div class="input-box">
                                                    <span>Email:</span>
                                                    <input type="email" placeholder="Your Email" class="review_email" name="email">
                                                </div>
                                                <div class="input-box">
                                                    <span>Please Write your Comments</span>
                                                    <textarea name="text-area" id="text_area"></textarea>
                                                </div>
                                                <div class="product-running">
                                                    <span>Rating for product:</span>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <a title="Submit" href="#" class="button cart_button">
                                                        <span>Submit Comments</span>
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in" id="product-tag">
                                        <p>Comming Soon </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--==================== Recently Bought area end==================== -->
                        <!-- Related Product area start-->
                        <div class="col-md-12">
                            <div class="related-product-area carousel-btn carousel-btn-4">
                                <div class="area-title bdr mt20">
                                    <h2>Recently Bought</h2>
                                </div>
                                <div class="row row-margin">
                                    <div class="feature-carousel pt20 pb20">
                                        <!-- single-product start -->
                                        <div class="col-xs-12 col-padd">
                                            <div class="single-product">
                                                <div class="product-label">
                                                    <div class="new"></div>
                                                </div>
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="img/product/books1.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                </div>
                                                <div class="product-content2">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                    <div class="button-container">
                                                        <a title="Add to Cart" href="#" class="button cart_button">
                                                            <span>Add to Cart</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ul class="add-to-links">
                                                    <li>
                                                        <div class="wishlist">
                                                            <a title="Add to Wishlist" href="#" data-toggle="tooltip"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="view-products">
                                                            <a title="view pordcuts" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-arrows-alt"></i></a> </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- single-product end -->
                                        <!-- single-product start -->
                                        <div class="col-xs-12 col-padd">
                                            <div class="single-product">
                                                <div class="product-label">
                                                    <div class="new"></div>
                                                </div>
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="img/product/books6.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                </div>
                                                <div class="product-content2">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                    <div class="button-container">
                                                        <a title="Add to Cart" href="#" class="button cart_button">
                                                            <span>Add to Cart</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ul class="add-to-links">
                                                    <li>
                                                        <div class="wishlist">
                                                            <a title="Add to Wishlist" href="#" data-toggle="tooltip"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="view-products">
                                                            <a title="view pordcuts" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-arrows-alt"></i></a> </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- single-product end -->
                                        <!-- single-product start -->
                                        <div class="col-xs-12 col-padd">
                                            <div class="single-product">
                                                <div class="product-label">
                                                    <div class="sale"></div>
                                                </div>
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="img/product/books2.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                        <span class="old-rpice"><del>$250.00</del></span>
                                                    </div>
                                                </div>
                                                <div class="product-content2">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                        <span class="old-rpice"><del>$250.00</del></span>
                                                    </div>

                                                    <div class="button-container">
                                                        <a title="Add to Cart" href="#" class="button cart_button">
                                                            <span>Add to Cart</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ul class="add-to-links">
                                                    <li>
                                                        <div class="wishlist">
                                                            <a title="Add to Wishlist" href="#" data-toggle="tooltip"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="view-products">
                                                            <a title="view pordcuts" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-arrows-alt"></i></a> </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <!-- single-product end -->
                                        <!-- single-product start -->
                                        <div class="col-xs-12 col-padd">
                                            <div class="single-product">
                                                <div class="product-label">
                                                    <div class="new"></div>
                                                </div>
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="img/product/books3.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                </div>
                                                <div class="product-content2">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                    <div class="button-container">
                                                        <a title="Add to Cart" href="#" class="button cart_button">
                                                            <span>Add to Cart</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ul class="add-to-links">
                                                    <li>
                                                        <div class="wishlist">
                                                            <a title="Add to Wishlist" href="#" data-toggle="tooltip"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="view-products">
                                                            <a title="view pordcuts" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-arrows-alt"></i></a> </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- single-product end -->
                                        <!-- single-product start -->
                                        <div class="col-xs-12 col-padd">
                                            <div class="single-product">
                                                <div class="product-label">
                                                    <div class="new"></div>
                                                </div>
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="img/product/books4.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                </div>
                                                <div class="product-content2">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                    <div class="button-container">
                                                        <a title="Add to Cart" href="#" class="button cart_button">
                                                            <span>Add to Cart</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ul class="add-to-links">
                                                    <li>
                                                        <div class="wishlist">
                                                            <a title="Add to Wishlist" href="#" data-toggle="tooltip"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="view-products">
                                                            <a title="view pordcuts" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-arrows-alt"></i></a> </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- single-product end -->
                                        <!-- single-product start -->
                                        <div class="col-xs-12 col-padd">
                                            <div class="single-product">
                                                <div class="product-label">
                                                    <div class="new"></div>
                                                </div>
                                                <div class="product-img">
                                                    <a href="#">
                                                        <img class="primary-image" src="img/product/books5.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                </div>
                                                <div class="product-content2">
                                                    <h2 class="product-name"><a href="#">Donec ac tempus</a></h2>
                                                    <div class="rating">
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star"></i></a>
                                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                                    </div>
                                                    <div class="price-box">
                                                        <span class="new-price">$222.00</span>
                                                    </div>
                                                    <div class="button-container">
                                                        <a title="Add to Cart" href="#" class="button cart_button">
                                                            <span>Add to Cart</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <ul class="add-to-links">
                                                    <li>
                                                        <div class="wishlist">
                                                            <a title="Add to Wishlist" href="#" data-toggle="tooltip"><i class="fa fa-heart"></i></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="view-products">
                                                            <a title="view pordcuts" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-arrows-alt"></i></a> </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- single-product end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Related Product area end-->
                        <div class="clearfix"></div>
                        <!-- product-details-end-->
                        <!--brand crasoule-area-start-->
                        <div class="brand-crasoule-area featur-padd">
                            <!-- area title start -->
                            <div class="area-title bdr mt20">
                                <h2>Brand & Clients</h2>
                            </div>
                            <!-- area title end -->
                            <div class="total-brand menu-carousel carousel-btn-2 carousel-btn mt10 mb20">
                                <div class="single-brand">
                                    <img src="img/brand1.png" alt="">
                                </div>
                                <div class="single-brand">
                                    <img src="img/brand2.png" alt="">
                                </div>
                                <div class="single-brand">
                                    <img src="img/brand3.png" alt="">
                                </div>
                                <div class="single-brand">
                                    <img src="img/brand4.png" alt="">
                                </div>
                                <div class="single-brand">
                                    <img src="img/brand1.png" alt="">
                                </div>
                                <div class="single-brand">
                                    <img src="img/brand2.png" alt="">
                                </div>
                                <div class="single-brand">
                                    <img src="img/brand3.png" alt="">
                                </div>
                                <div class="single-brand">
                                    <img src="img/brand4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!--brand crasoule-area-end-->
                    </div>
                    <!--ambit-key-->
                </div>
                <!--col-md-9-->
            </div>
            <!--row-->
        </div>
        <!--container-->
</div>
    <!-- main area end -->

    <div class="footer-static-container">
        <div class="container">
            <div class="footer-static row pt30 pb30">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-static-title">
                        <h3>ABOUT PERSEUS</h3>
                    </div>
                    <div class="footer-static-content social-links">
                        <a href="#" class="logo"><img alt="" src="img/logo.png"></a>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas...</p>
                        <div class="web-links">
                            <ul>
                                <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="ldin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" class="face"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-static-title">
                        <h3>OUR SERVICES</h3>
                    </div>
                    <div class="footer-static-content footer-service">
                        <ul>
                            <li class="first"><a href="#"><i class="fa fa-angle-double-right"></i>
Order History</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>
Returns</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>
Specials</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>
Mobiles</a></li>
                            <li><a href="my-account.html"><i class="fa fa-angle-double-right"></i>
My Account</a></li>
                            <li class="last"><a href="contact.html"><i class="fa fa-angle-double-right"></i>
Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm col-xs-12">
                    <div class="footer-static-title">
                        <h3>MY ACCOUNT</h3>
                    </div>
                    <div class="footer-static-content footer-acc">
                        <ul>
                            <li class="first"><a href="about-us.html">About us</a><span>1</span></li>
                            <li><a href="#">Custom Service</a><span>2</span></li>
                            <li><a href="#">Privacy Policy</a><span>3</span></li>
                            <li class="first"><a href="#">Sitemap</a><span>4</span></li>
                            <li><a href="#">Terms &amp; Condition</a><span>5</span></li>
                            <li class="last"><a href="#">Advanced Search</a><span>6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-static-title">
                        <h3>CONTACT US</h3>
                    </div>
                    <div class="footer-static-content footer-add">
                        <div class="address">1234 Heaven Stress, Beverly Hill OldYork- United State of Lorem</div>
                        <div class="phone">(800) 0123 4567 890
                            <br> (800) 0987 654 321</div>

                        <div class="mail"> admin@bootexparts.com
                            <br> Support@bootexparts.com</div>
                    </div>
                </div>
            </div>
            <div class="footer-static-2">
                <div class="link-category">
                   <nav>
                        <ul>
                            <li><a title="Clothing" href="#">Clothing</a></li>
                            <li><a title="equipments" href="#">equipments</a></li>
                            <li><a title="Jewellery" href="#">Jewellery</a></li>
                            <li><a title="Watches" href="#">Watches</a></li>
                            <li><a title="books" href="#">books</a></li>
                            <li><a title="Sports" href="#">Sports</a></li>
                            <li><a title="gifts" href="#">gifts</a></li>
                            <li><a title="Health" href="#">Health</a></li>
                            <li><a title="Medical" href="#">Medical</a></li>
                            <li><a title="Electronics" href="#">Electronics</a></li>
                        </ul>
                   </nav>

                </div>

            </div>
        </div>
    </div>
    
 