/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    /*homepage-01*/
    
    .main-menu ul li a {
        font-size: 14px;
        padding: 0 12px;
    }
    .main-menu ul li .mega-menu {
        width: 950px;
        left: -64%;
    }
    .mega-menu-2 {
        left: -135% !important;
    }
    .main-menu ul li .mega-menu .mega-catagory a {
        margin: 0;
        padding: 15px 0;
    }
    .main-menu ul li .mega-menu .mega-catagory a img {
        padding: 15px;
        margin-right: 5px;
    }
    .mega-menu-5.ft-mega {
        left: -367% !important;
    }
    .slider-area .nivo-caption .layer-1-2 img,
    .slider-area .nivo-caption .layer-1-1 img,
    .slider-area .nivo-caption .layer-1 img {
        left: 10%;
    }
    .slider-area .nivo-caption .lft-pr h4 {
        font-size: 70px;
    }
    .slider-area .nivo-caption .lft-pr h3 {
        font-size: 40px;
    }
    .slider-area .nivo-caption .lft-pr h2 {
        font-size: 40px;
    }
    .banner-inner .banner-title {
        font-size: 20px;
    }
    .Progress-steps li {
        width: 19.5%;
    }
    .our-favourites ul.nav li {
        width: 16.16%;
    }
    .carousel-btn-2.carousel-btn .owl-controls .owl-buttons div {
        top: -52%;
    }
    .hotsell-area .area-title h3 {
        background-position: 80% 16px;
    }
    .web-links li {
        margin-right: 4px;
    }
    .ma-footer-container .payment {
        margin-top: 0;
    }
    .ma-footer-container .payment li {
        margin-right: 5px;
    }
    .basak-footer .links li {
        padding: 0 5px 0 4px;
    }
    .mobile-menu-area {
        display: none
    }
    .area-title h3 {
        font-size: 20px;
    }
    .button.c_button {
        ;
        padding: 10px 20px;
    }
    .c-price.c-wish {
        width: 20%;
    }
    /*======Home 2======*/
    
    #home-2 .home-2-waraper {
        width: auto;
    }
    .main-menu ul li .mega-menu.home2-menu {
        width: 800px;
    }
    .main-menu ul li .mega-menu.home2-menu.mega900 {
        width: 750px;
    }
    .mega-menu-5 {
        width: 732px !important;
    }
    .banner-inner .banner-title {
        font-size: 15px;
    }
    .our-favouriate-area-2 .our-favourites ul.nav li {
        width: 12.12%;
    }
    .new-arri-total li .wishlist a,
    .new-arri-total li .view-products a {
        height: 27px;
        line-height: 26px;
        width: 25px;
    }
    .button.btn2 span {
        padding: 5px;
    }
    .sl-hover {
        margin-top: 5px;
    }
    .single-arri {
        margin: 10px 0;
    }
    /*Home -3 */
    
    .slider-area.common3 .left-slide .title-container {
        left: 30%;
        padding-right: 10%;
    }
    .box-title > p {
        font-size: 12px;
    }
    .features-tab .nav.common3 > li > a {
        padding: 15px 23px;
    }
    .home-3-wraper .main-menu ul li a {
        font-size: 16px;
    }
    /*home-4*/
    
    .home-4-wraper .mega-menu.mega-menu-5.fastr2 {
        left: -364% !important;
    }
    .static-content a.button-link {
        margin: 20px;
    }
    .title-container-4 {
        left: 45%;
        top: 30%;
    }
    .home-4-wraper .slider-area .nivo-caption .layer-1-2 img,
    .home-4-wraper .slider-area .nivo-caption .layer-1 img,
    .home-4-wraper .slider-area .nivo-caption .layer-1-1 img {
        left: 8%;
    }
    .carousel-btn-3.carousel-btn .owl-controls .owl-buttons div {
        top: -7%;
    }
    /*====Blog===*/
    .blog-wraper .aside-padd {
        padding: 10px;
    }

}
/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    /*home page-1*/
    
    .single-menu ul li a {
        font-size: 13px;
        padding: 0 5px;
    }
    .single-drop ul li span {
        font-size: 13px;
    }
    .single-drop ul li label {
        font-size: 13px;
    }
    .main-menu ul li .mega-menu .mega-catagory a span {
        vertical-align: top;
        display: block;
    }
    .main-menu ul li .mega-menu {
        left: -64%;
    }
    .main-menu ul li a {
        font-size: 13px;
        padding: 0 11px;
    }
    .main-menu ul li .mega-menu {
        width: 700px;
    }
    .main-menu ul li .mega-menu .mega-catagory a {
        margin: 0;
        padding: 15px 0;
    }
    .main-menu ul li .mega-menu .mega-catagory a img {
        padding: 15px;
        margin-right: 5px;
    }
    .mega-menu-5.ft-mega {
        left: -362% !important;
    }
    .mega-catagory2.hverson .version-cat a {
        font-size: 12px;
    }
    .main-menu ul li .mega-menu.home2-menu.mega820 {
        width: 725px;
    }
    .main-menu ul li .mega-menu .mega-catagory a {
        text-align: center;
    }
    .mega-menu-2 {
        left: -134% !important;
    }
    .mega-menu-3 {
        left: -267% !important;
    }
    .mega-menu-4 {
        left: -455% !important;
    }
    li.fashion-tnd {
        display: none;
    }
    .main-menu ul li .mega-menu .mega-catagory {
        padding: 0;
    }
    .main-menu ul li .mega-menu .mega-catagory a {
        padding: 5px;
    }
    .main-menu ul li ul.sub-menu li a {
        font-size: 13px
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3 {
        font-size: 30px;
        margin-right: 10%;
    }
    .slider-area .nivo-caption .lft-pr h4 {
        font-size: 50px;
        margin-right: 10%;
    }
    .slider-area .nivo-caption .lft-pr a {
        margin-right: 10%;
    }
    .nivo-controlNav.nivo-thumbs-enabled {
        display: none
    }
    .banner-box-2.banner-inner.bannneer {
        margin: 15px 0;
    }
    .category-menu-list ul li a i {
        right: 15px;
    }
    .category-menu-list ul li a {
        padding: 10px;
        font-size: 14px;
    }
    .category-menu-list ul li .big-ldrop {
        width: 520px;
    }
    .category-heading h2 {
        padding: 0 0 0 20px;
    }
    .aside-padd {
        padding: 3px 3px 10px;
    }
    .tag-area ul li a {
        margin: 5px 5px 0 4px;
        padding: 0 5px;
    }
    .area-title h3 {
        font-size: 19px;
        padding: 10px;
    }
    .input-box label {
        font-size: 13px;
    }
    .web-links ul li a {
        font-size: 20px;
        height: 25px;
        line-height: 25px;
        width: 25px;
    }
    .web-links li {
        margin-right: 3px;
    }
    .hotsell-area .area-title h3 {
        background-position: 88% 5px;
    }
    .hotsell-img {
        width: 100%;
        padding: 0;
    }
    .hotsell-text {
        text-align: center;
        width: 100%;
    }
    .hotsell-img a {
        border: none;
    }
    .single-hotsell {
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }
    .progress-steps ul li p {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .progress-steps li {
        width: 19%;
    }
    .our-favourites ul.nav li {
        height: 100px;
        width: 16%;
    }
    .tab-img {
        font-size: 12px;
        top: 5%;
    }
    .footer-static-container .col-sm-6 {
        margin: 10px 0;
    }
    .footer-static-2 .link-category li {
        padding: 7px;
    }
    .ma-footer-container .payment {
        display: none;
    }
    .mobile-menu-area {
        display: none
    }
    /*about us page*/
    
    .sp-bubble {
        margin-bottom: 80px;
    }
    .single-slider .col-md-6 {
        margin: 10px 0;
    }
    .button.c_button {
        padding: 10px;
    }
    .trash-btn {
        width: 5%;
    }
    .form-action label {
        display: none;
    }
    .box_list input {
        margin-right: 5px;
        position: relative;
        top: 2px;
    }
    .box_manufacrurer li {
        font-size: 12px;
    }
    .shop-page-wraper .aside-padd {
        padding: 3px 8px 10px;
    }
    aside.shop-filter {
        overflow: hidden;
    }
    .price_filter input[type="text"] {
        width: 100%;
    }
    .price_filter input[type="submit"],
    .calculate-shipping input[type="submit"] {
        width: 100%;
    }
    .price_filter input {
        margin-top: 15px;
    }
    .area-title h3 {
        font-size: 16px;
        padding: 10px;
    }
    .box_list li > span,
    .price-title {
        font-size: 16px;
    }
    .shop-page-wraper .tag-area ul li a {
        margin: 5px 0 0 4px;
    }
    .vina-newsletter .input-box label {
        font-size: 12px;
    }
    #scrollUp {
        right: 20px;
    }
    .zoomContainer div.zoomLens[style] {
        height: 150px !important;
        width: 150px !important;
    }
    .add-to-box-view .button.cart_button {
        width: 50%;
    }
    .add-to-box ul li a.link-compare {
        margin-left: 5px;
    }
    .product-des-review ul.nav li a {
        font-size: 14px;
    }
    .c-price.c-wish {
        width: 20%;
    }
    /*======Home 2======*/
    
    #home-2 .home-2-waraper {
        width: auto;
    }
    .main-menu ul li .mega-menu.home2-menu {
        width: 650px;
    }
    .main-menu ul li .mega-menu.home2-menu.mega900 {
        width: 570px;
    }
    .slider-area .single-add {
        float: left;
        margin-top: 10px;
        padding-right: 10px;
        width: 50%;
    }
    .left-slide-add {
        margin-right: -10px;
    }
    .creative-banner.common-2 .banner-inner {
        margin: 10px 0;
    }
    .carousel-btn-3.carousel-btn .owl-controls .owl-buttons div {
        top: -22%;
    }
    .price-box span.new-price {
        font-size: 18px;
    }
    .our-favouriate-area-2 .our-favourites ul.nav li {
        width: 12%;
    }
    .home-2-waraper .single-arri .hotsell-img,
    .home-2-waraper .hotsell-img img {
        width: 100%;
    }
    .single-arri {
        border: 1px solid #ededed;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .area-title > h2 {
        font-size: 20px;
    }
    .carousel-btn-4.carousel-btn .owl-controls .owl-buttons div {
        top: -3.5%;
    }
    .mega-menu-5 {
        left: -300% !important;
        width: 700px !important;
    }
    .static-content a.button-link {
        margin: 10px;
    }
    .left-slide-add {
        display: none;
    }
    .banner-inner.common3 {
        margin: 10px 50px 10px 10px;
    }
    .home-3-wraper .single-hotsell:hover .hotsell-img img {
        border: medium none;
    }
    .features-tab ul.nav.common3 li:first-child a {
        padding-left: 12px;
    }
    .features-tab .nav.common3 > li > a {
        padding: 12px;
    }
    .slider-area.common3 .left-slide .title-container {
        left: 30%;
        right: 15%;
    }
    .home-4-wraper .main-menu ul li a {
        font-size: 14px;
        padding: 0 14px;
    }
    .home-4-wraper .mega-menu.home2-menu .mega-catagory2 a {
        font-size: 12px;
    }
    .title-container-4 {
        left: 35%;
        margin: 0;
        top: 6%;
    }
    .title11 {
        font-size: 20px;
    }
    .title22 {
        font-size: 40px;
        line-height: 20px;
    }
    .title32 {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .home-4-wraper .slider-area .nivo-caption .layer-1-1 img,
    .home-4-wraper .slider-area .nivo-caption .layer-1 img,
    .home-4-wraper .slider-area .nivo-caption .layer-1-2 img {
        left: 2%;
    }
    .ac2 {
        display: none;
    }
    .single-service {
        text-align: center;
    }
    .custom-services .service-img {
        float: none;
        margin-bottom: 15px;
        width: auto;
    }
    .custom-services .service-content {
        float: none;
        width: auto;
    }
    .clients-says {
        margin-top: 20px;
    }
    .carousel-btn.common4 .owl-controls .owl-buttons div {
        left: 0;
    }
    .carousel-btn.common4 .owl-controls .owl-buttons div.owl-next {
        right: 0;
    }
    .brand-clients-icon li {
        padding: 5px;
    }
    .carousel-btn-2.carousel-btn .owl-controls .owl-buttons div {
        top: -50%;
    }
    /*====Blog===*/
    .blog-wraper .banner-left {
      padding: 10px;
    }
    .vina-newsletter form input.submit-btn {
        font-size: 16px;
        height: 30px;
        margin-top: 5px;
    }
    .vina-newsletter form input {
      height: 35px;
    }
    .web-links li {
        margin-right: 2px;
    }
    .product-content > p span {
        display: none;
    }
    
    
    
    
}
/* small mobile :320px. */

@media (max-width: 767px) {
    .container {
        width: 300px
    }
    .mobile-menu-area {
        display: block
    }
    .main-menu {
        display: none;
    }
    .header-top {
        display: none;
    }
    .logo-area {
        text-align: center;
    }
    .logo-area a img {
        width: 70%;
    }
    .phone {
        border: none;
        float: none;
        margin: 0;
        padding: 0;
    }
    .block-header {
        text-align: center;
    }
    .categori {
        display: none;
    }
    .shopping-cart {
        margin: 30px auto auto;
        float: none;
    }
    .mobile-menu-area .container {
        width: 100%;
    }
    .mobile-menu-area {
        margin-left: -25px;
        margin-right: -25px;
    }
    .nivo-controlNav.nivo-thumbs-enabled {
        display: none;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr h4 {
        margin-right: 20%;
        font-size: 16px;
        margin-bottom: 0;
    }
    .slider-area .nivo-caption .lft-pr h4 {
        font-size: 20px;
    }
    .slider-area .nivo-caption .lft-pr a {
        font-size: 12px;
        margin-right: 20%;
        padding: 5px 10px;
    }
    .preview-2 .nivo-directionNav a.nivo-prevNav::before,
    .preview-2 .nivo-directionNav a.nivo-nextNav::before {
        font: 400 20px/40px FontAwesome;
        height: 40px;
        width: 40px;
    }
    .slider-area .nivo-caption .layer-1-2 img,
    .slider-area .nivo-caption .layer-1-1 img,
    .slider-area .nivo-caption .layer-1 img {
        left: 10%;
    }
    .banner-inner .banner-title {
        font-size: 18px;
    }
    .banner-box-2 {
        margin: 10px 0;
    }
    .banner-inner p {
        line-height: 18px;
    }
    .main-area .nopadding-left {
        padding-left: 15px;
        padding-right: 0;
    }
    .nav > li {
        display: block;
    }
    .nav > li > a {
        margin: 5px 0;
        padding: 0;
        border: none
    }
    .carousle-pagi .owl-pagination {
        display: none;
    }
    .single-add {
        margin: 5px 0;
    }
    .progress-steps li {
        border-bottom: 1px dashed #ededed;
        width: 32%;
    }
    .our-favourites ul.nav li {
        display: inline-block;
        height: 50px;
        width: 15.2%;
    }
    .tab-img {
        font-size: 0;
    }
    .brand-crasoule-area .carousel-btn-2.carousel-btn .owl-controls .owl-buttons div {
        display: none;
    }
    .footer-static-content {
        margin-bottom: 15px;
    }
    .footer-static-2 .link-category li {
        margin: 10px 0;
        padding: 0 5px 0 0;
    }
    .footer-static-content.footer-add {
        margin: 0;
    }
    .basak-footer nav {
        display: none;
    }
    .ma-footer-container .payment li {
        display: inline-block;
        margin-right: 0;
        width: 15%;
    }
    .ma-footer-container .payment {
        text-align: center;
    }
    .main-area .left-category-menu {
        display: none;
    }
    .feature-carousel-tab .col-xs-6 {
        width: 100%;
    }
    #scrollUp {
        right: 15px;
    }
    /*about us page*/
    
    .shortcode > a {
        margin-left: 10px;
    }
    .blogpage-date {
        margin-right: 15px;
        padding-right: 10px;
        width: 65px;
    }
    .about-text-left {
        margin-bottom: 20px;
    }
    .single-slider .col-md-6 {
        padding: 0 20px;
    }
    .col-md-6 h4 span {
        display: block;
        margin: 10px auto;
    }
    .about-slider-area {
        text-align: center;
    }
    /*cart-page*/
    
    .button.c_button.c-up {
        float: none
    }
    .button.c_button {
        padding: 10px;
    }
    .button.c_button.dis-left,
    .coupon_submit {
        float: right;
    }
    .single-dis,
    .subtotal-area {
        margin: 10px 0;
    }
    .single-spbottom {
        margin: 10px 0;
    }
    #map,
    .contact-form-area .input-box textarea {
        min-height: 200px;
    }
    .contact-page .button.c_button.dis-left {
        float: none;
    }
    .contact-form-area .input-box input,
    .contact-form-area .input-box textarea {
        width: 100%;
    }
    .input-box.checkout {
        width: 35%;
    }
    .form-action p.lost_password {
        width: 100%;
    }
    .my-account-area .col-xs-12 {
        margin: 10px 0;
    }
    .usefull-product-slide .carousle-pagi.common4 .owl-pagination {
        display: block;
    }
    .shop-product-area .col-xs-12.text-right {
        margin-top: 10px;
        text-align: left;
    }
    .price-single > p {
        float: none;
    }
    .input-content {
        margin-left: 10px;
    }
    .add-to-box-view .button.cart_button {
        width: 60%;
    }
    .carousel-btn-4.carousel-btn .owl-controls .owl-buttons div {
        top: 100%;
    }
    .add-to-box ul li a.link-compare {
        margin-left: 0;
    }
    .input-box input,
    .input-box textarea {
        width: 100%;
    }
    .review-lower> form {
        margin-top: 30px;
    }
    .button.cart_button span {
        font-size: 16px;
        padding: 0;
    }
    .product-running .button.cart_button {
        width: 170px;
    }
    .review-lower {
        padding: 15px;
    }
    .input-header p {
        margin-right: 18px;
    }
    .zoomContainer {
        height: 250px !important;
    }
    /*====home-2====*/
    
    #home-2 .home-2-waraper {
        width: auto;
    }
    .our-favouriate-area-2 .our-favourites ul.nav li {
        width: 11%;
    }
    .carousel-btn-4.carousel-btn .owl-controls .owl-buttons div {
        top: -8%;
    }
    .new-arri-total li .wishlist a,
    .new-arri-total li .view-products a {
        height: 28px;
        line-height: 27px;
        width: 24px;
    }
    .home-2-waraper .button.btn2 span {
        font-size: 12px;
        padding: 6px;
    }
    .home-2-waraper .sl-hover {
        margin-top: 5px;
    }
    .left-slide .title-container h1 {
        font-size: 20px;
    }
    .left-slide .title-container h3 {
        font-size: 17px;
    }
    .left-slide-add .single-add img {
        width: 100%;
    }
    .left-slide .title-container {
        top: 50%;
    }
    /*Home #3*/
    
    .left-slide-add {
        display: none;
    }
    .advertise-area .banner-box > a,
    .advertise-area .box-title {
        width: 100%;
    }
    .advertise-area .banner-box {
        padding: 20px;
    }
    .home-3-wraper .shopping-cart {
        margin: 30px auto auto;
    }
    .features-tab.common3 .nav > li > a {
        padding: 10px 0;
    }
    .features-tab ul.nav.common3 li:first-child a {
        padding-left: 13px;
    }
    .features-tab .nav.common3 > li > a {
        padding: 10px 14px;
    }
    .features-tab .nav.common3 > li::before {
        display: none;
    }
    .banner-inner.common3 {
        margin: 10px 50px 10px 10px;
        padding: 15px 40px 15px 15px;
    }
    .banner-content-area {
        padding: 10px;
    }
    .banner-box h2 {
        font-size: 18px;
    }
    .home-3-wraper .mobile-menu-area {
        background: #96b7cb none repeat scroll 0 0;
    }
    .home-3-wraper .mean-container .mean-nav ul li a {
        background: #96b7cb none repeat scroll 0 0;
    }
    .home-3-wraper .mean-container .mean-nav ul li a:hover {
        background: #888888 none repeat scroll 0 0;
    }
    .home-3-wraper .mean-container .mean-nav ul li a.mean-expand {
        background: #888888 none repeat scroll 0 0;
        color: #fff
    }
    .home-3-wraper .mean-container .mean-nav ul li a.mean-expand:hover {
        background: #fff none repeat scroll 0 0;
        color: #888888;
    }
    .title-container {
        display: none;
    }
    .home-4-wraper .header-menu .phone,
    .home-4-wraper .header-menu .email {
        float: none;
    }
    .design-buldier-area .list-item h3 {
        margin: 0;
    }
    .list-item {
        margin: 15px 0;
    }
    .home-4-wraper .pb90 {
        padding-bottom: 40px;
    }
    .home-4-wraper .pt90 {
        padding-top: 40px;
    }
    .about-ustext {
        margin-top: 20px;
    }
    .single-service {
        margin: 10px 0;
        overflow: hidden;
    }
    .custom-services .service-img {
        padding-right: 10px;
    }
    h3.header img {
        display: none;
    }
    .filter-catagory-menu li {
        font-size: 12px;
        margin: 0 !important;
        padding: 0 0 0 14px;
    }
    #client-carousel .client-item .item-info {
        padding: 10px;
    }
    #client-carousel .owl-controls .owl-page,
    .owl-controls .owl-buttons div {
        left: 45%;
    }
    #client-carousel .owl-controls .owl-buttons div.owl-next {
        left: 60%;
    }
    .counter-area .col-xs-6 {
        margin: 10px 0;
        width: 100%;
    }
    .brand-clients-icon li {
        display: inline-block;
        float: none;
        padding: 5px;
        width: 32%;
    }
    .title-container-4 {
        display: none;
    }
    /*blog*/
    .total-blog {
        margin-top: 20px;
    }
    blockquote {
        padding: 10px;
        text-align: justify;
    }
    
    
}
/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }
    .mobile-menu-area {
        margin-left: -30px;
        margin-right: -30px;
    }
    .logo-area a img {
        width: 50%;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr h4 {
        font-size: 20px;
        margin-bottom: 5px;
        margin-right: 15%;
    }
    .slider-area .nivo-caption .lft-pr h4 {
        font-size: 30px;
    }
    .slider-area .nivo-caption .lft-pr a {
        font-size: 14px;
        padding: 8px 15px;
        margin-right: 15%;
    }
    .small-cart-content {
        right: 21%;
    }
    .ma-footer-container .payment {
        text-align: left;
    }
    .tag-area ul li a {
        margin: 1px;
    }
    .hotsell-area .area-title h3 {
        background-position: 37% 16px;
    }
    .our-favourites ul.nav li {
        height: 60px;
        width: 15.7%;
    }
    .tab-img {
        top: 0;
    }
    .feature-carousel-tab .col-xs-6 {
        width: 50%;
    }
    .sp-bottom-menu-wrapper .col-xs-12 {
        margin: 10px 0;
        width: 50%;
    }
    .single-spbottom {
        margin: 10px 0;
    }
    .usefull-product-slide .single-product {
        border: 1px solid #ededed;
        margin-top: 10px;
    }
    .usefull-product-slide .carousle-pagi.common4 .owl-pagination {
        margin: auto auto auto -6%;
        margin-top: 5px;
    }
    .shop-page-wraper .shop-product-area .col-xs-12 {
        width: 50%;
    }
    #sort_count .col-xs-12 {
        width: 100%
    }
    .imgs-area > img {
        width: 100% !important;
    }
    .zoomContainer {
        height: 421px !important;
    }
    .our-favouriate-area-2 .our-favourites ul.nav li {
        width: 11.6%;
    }
    .left-slide .title-container h1 {
        font-size: 28px;
    }
    .left-slide .title-container h3 {
        font-size: 25px;
    }
    .slider-area.common3 .left-slide .title-container {
        left: 20%;
        right: 5%;
        top: 10%;
    }
    .slider-area.common3 .left-slide .title-container h1 {
        font-size: 25px;
    }
    .advertise-area .banner-box > a,
    .advertise-area .box-title {
        width: 50%;
    }
    .our-product-area.best-offere .features-tab .feature-carousel-tab .col-xs-12 {
        width: 50%;
    }
    .counter-area .col-xs-6 {
        width: 50%;
    }
    .title22 {
        font-size: 30px;
        line-height: 30px;
    }
    .title-container-4 {
        top: 25%;
    }
    .title11,
    .title32 {
        display: none;
    }
    .title-container-4 {
        display: block;
    }
    .carousel-btn-4.carousel-btn .owl-controls .owl-buttons div {
        top: -6%;
    }
    .shop-list-wraper .product-content > p {
        display: none;
    }
}